*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(3, 1, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #5abde1;
}
.container{
    height:100hv;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #5abde1;
    padding:15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #5abde1,
                      5px 5px 12px  #5abde1;
    display: grid;
    grid-template-columns: repeat(4,72px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 280px;
    background-color:#e5f0f5;
    box-shadow: inset -5px -5px -12px #1183ac,
    box-shadow: inset -5px -5px -12px #5abde1,
    inset -5px -5px 12px ;
    border: none;
    border-radius: 30px;
    color: rgb(39, 33, 39);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: rgb(54, 223, 220);
    box-shadow: -5px -5px 12px #3ad4d4;
                 5px  5px 12px rgba(0,0,16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 15px;

}
button:hover{
	transform:scale(1.5);
	transtition : 0.1s
}
.equal{
    width: 100px;
    border-radius: 40px;
    background-color: #121111;
    box-shadow: -5px -5px 12px #31efef,;
                 5px  5px 12px rgba(0,0,..16);
}

